{% extends 'emails/base.twig' %}

{% block subject %}
    {{- trans(selfService ?? false ? 'email.password_reset.subject_self' : 'email.password_reset.subject', {'site': siteName}) -}}
{% endblock %}

{% block body %}
<p>{{ trans('email.greeting', {'username': username}) }}</p>
<p>{{ trans(selfService ?? false ? 'email.password_reset.intro_self' : 'email.password_reset.intro_admin', {'site': siteName})|raw }}</p>
<p>
    <a href="{{ loginUrl }}" class="btn">{{ trans('email.signin_btn', {'site': siteName}) }}</a>
</p>
<p>{{ trans('email.password_reset.credentials_intro') }}</p>
{% endblock %}

{% block meta %}
<div class="meta">
  <table>
    <tr>
      <td>{{ trans('email.label_url') }}</td>
      <td><a href="{{ loginUrl }}" style="color:#6c63ff;">{{ loginUrl }}</a></td>
    </tr>
    <tr>
      <td>{{ trans('email.label_username') }}</td>
      <td><span class="code">{{ username }}</span></td>
    </tr>
    <tr>
      <td>{{ trans('email.label_password') }}</td>
      <td><span class="code">{{ password }}</span></td>
    </tr>
  </table>
  <p style="margin-top:12px;font-size:12px;color:#8b8fa8;">
      {{ trans('email.password_reset.change_password') }}
  </p>
</div>
{% endblock %}
